#head{
    width: justify;
    height: 150px;
    background-color: #D4EDDA;
    font-size: larger;
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
}

#nav li{
    display:inline-block;    
    padding-left: 10px;
    font-size: large;
}

a{
    background-color:#46A049;
    color:white;
    text-decoration: none;
}

a:hover{
    background-color:black;
    text-decoration: none;
}

#footer{
    margin-top: justify;
    width: justify;
    height: 50px;
    background-color: cornflowerblue;
    font-size:small;
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
}

#main{
    margin-top: 100px;
    width: justify;
    height: 600px;
    text-align: center;
    font-size: large;
    padding-top: 100px;
    background-color: #f1f1f1;
}

#sub{
    width: 500px;
    height: 200px;
    margin-left: 500px;
    font-size:large;
    background-color:lightgrey;
    padding-top: 40px;
    border-radius: 0.6em;
    
}


select{
    width: 200px;
   margin-top: 10px;
   border-radius: 0.5em;
}

#em{
    padding-left: 35px;
}
input[type=submit]{
    margin: 20px 0 0 85px;
    width: 200px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 0.5em;
}

label{
    color: red;
    font-size: small;
}

input[type=email]{
    width: 200px;
    margin-top: 10px;
    height: 25px;
    margin-left:35px;
    border-radius: 0.4em;
}
input[type=password]{
    width: 200px;
    height: 25px;
    margin-top: 10px;
    margin-left:15px;
    border-radius: 0.4em;
}

#add{
    margin-top: 90px;
    width: justify;
    height: 700px;
}

#nav2{
    margin-top: 90px;
    width: justify;
    height: 600px;
}


#nav2 ul{
    height: 30px;
    background-color: #46A049;
}

#nav2 li{
    float: left;
    padding-top:5px;
    width: 100px;
    padding-left: 0px;
}

table{
    width: 1500px;
    height: auto;
    border: 1px solid black;
  
}

th{
    height: 10px;
    width: 150px;
    border: 1px solid black;
}
td{
    height: 10px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
}

#exam{
    background-color: blue;
    color: white;
    width: 60px;
    float: right;
    margin-bottom: 10px;
}

#examform{
    width: 800px;
    height: 400px;
    border: 1px solid black;
    margin: 20px 0 0 300px;
}
#examform label{
    float: left;
    width: 200px;
    font-size:16px;
    color: black;
    font-weight:200px;
    font-family: sans-serif;
   padding-top: 30px;
}

#examform input{
    margin-top: 25px;
    float: right;
    width: 500px;
    height: 25px;
    margin-right: 35px;
    border-radius: 0.4em;
}

#examform input[type=submit]{
    width: 200px;
    float: left;
    margin-left: 270px;
    height: 40px;
    background-color:blueviolet;
    color: white;
}

#examform input[type=reset]{
    width: 200px;
    float: left;
    height: 40px;   
    background-color:red;
    border-radius: 0.5em;
}

#row a{
    background-color:black;
}
#row a:hover{
    background-color:orchid;
}